body {
 background-image: url("https://cryptologos.cc/logos/avalanche-avax-logo.png"), url(avalanche-logo.png);
 background-color: #b46d6d27; /* Used if the image is unavailable */
 background-position: bottom; /* Center the image */
 background-repeat: repeat-y; /* Do not repeat the image. */
 background-size: 15%; /* Resize the background image */
 color: rgb(51, 14, 14); /* Text color */
}